:root {
}

.panel {
}

.row-container {
    left: 75%;
    bottom: auto;
    top: auto;
    align-self: flex-end;
    height: 100%;
}

.pallet {
    right: auto;
    align-self: flex-start;
    align-content: auto;
    align-items: flex-start;
    position: absolute;
    width: 200px;
    height: 100px;
}

.hidden {
    display: none;
}
